body{
      background: url(фотки/фон_велоспорт.jpg);
      -moz-background-size: 100%;
      -webkit-background-size: 100%;
      -o-background-size: 100%;
      background-size: 130%;
      margin: 0px;
      padding: 0px
    }
h3{
	color: white;
	font-size: 10;
}
p{
	background-color: white;
	margin-top: 50px;
	height: 50;
	text-align: center;
	color: black;
	font-size: 300%;
}