body{
      background: url(фотки/фон_робот.jpg);
      -moz-background-size: 100%;
      -webkit-background-size: 100%;
      -o-background-size: 70%;
      background-size: 90%;
      margin: 0px;
      padding: 0px
    }
p{
	background-color: black;
	margin-top: 70px;
	height: 50;
	text-align: center;
	color: white;
	font-size: 300%;
}
h1{
	padding-top: 2%;
	margin-left: 50%;
}
.button {
	margin:10px right; /*10 зверху і знизу, вирівнять по сер. екрана*/
	width:200px;/*ширина кнопки*/
	height: 60px;/*висота*/
	position: relative;/*здвиг демо і діск*/
}
a {
	text-decoration: none;
	color: #fff
}
.demo{
	background-color: #af0000;/*колі блока*/
	width: 350px;
	height: 60px;
	padding: 0 0 0 50px;/*відступ зліва для місця картинці*/
	text-align: center;
	position: absolute;/*положення по центру*/
	line-height: 80 px;/*інтрервал між рядками*/
	font-size: 2em;
	top: 0;/*відстань до верхнього краю сайта*/
	left:0;/*відповідно до лівого краю*/
	z-index: 2;/*положення, переміження на передній план в залужності від кількості елементів*/
	transition: 1s;/*час анімації, зменшення блоку*/
	border-radius: 3px;/*закруглені кути кнопки*/
}
.disc{
	background-color: #850000;
	position: absolute;
	width: 200px;
	height: 60px;
	padding: 10px 30px 10px 80px;
	text-align: center;
	color: white;
	line-height: 20px;
	top:0;
	right: 1;
	z-index: 1;
	border-radius: 0 3px 3px 0;
}
img.photo{
	vertical-align: middle;
	position: absolute;
	z-index: 3;
	left:14px;
	top:14px;
	transition: 2s;
}
.button:hover .demo{/*Зміна при наведенні мишкою*/
	width: 50px;
	font-size: 0.8em;
	border-radius: 3px 0 0 3px;
	color: white;

}
.button:hover img.photo{
	transform: rotate(360deg);
}
